<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="n列布局.css" />
  </head>
  <body>
    <!-- 双列布局 -->
    <!-- 浮动 + 激活 BFC 不重叠 -->
    <!-- <div class="left"></div>
    <div class="right"></div> -->

    <!-- 浮动 + width: auto -->
    <!-- flex -->
    <!-- <div class="container">
      <div class="left"></div>
      <div class="right"></div>
    </div> -->

    <!-- 三列布局 -->
    <!-- <div class="container">
      <div class="left"></div>
      <div class="right"></div>
      <main class="main"></main>
    </div> -->

    <!-- 圣杯 -->
    <div class="container">
      <main class="main"></main>
      <div class="left"></div>
      <div class="right"></div>
    </div>

    <!-- 双飞翼 -->
    <!-- <div class="container">
      <div class="wrapper"><main class="main"></main></div>
      <div class="left"></div>
      <div class="right"></div>
    </div> -->
  </body>
</html>
