<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./多列等高布局.css" />
  </head>

  <body>
    <div class="table">
      <div class="tableRow">
        <div class="tableCell cell1">
          <div>
            <p>left</p>
            <p>left</p>
            <p>left</p>
          </div>
        </div>

        <div class="tableCell cell2">
          <div>
            <p>center</p>
            <p>center</p>
            <p>center</p>
            <p>center</p>
          </div>
        </div>

        <div class="tableCell cell3">
          <div>
            <p>right</p>
            <p>right</p>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div id="wrapper">
      <div class="column left">
        <p>left</p>
        <p>left</p>
      </div>
      <div class="column center">
        <p>center</p>
        <p>center</p>
        <p>center</p>
        <p>center</p>
      </div>
      <div class="column right">
        <p>right</p>
        <p>right</p>
      </div>
    </div>
  </body>
</html>
