body {
  margin: 0;
  padding: 0;
}

/* ① */
/* .container {
  width: 100%;
  height: 100vh;
  background-color: #F80;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* ②③ */
.container {
  width: 100%;
  height: 100vh;
  background-color: #F80;
  display: flex;
}

/* .box {
  margin: auto;
  background-color: #09F;
} */

.box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #09F;
}